<ion-grid>
  <ion-row>
    <ion-col>1</ion-col>
    <ion-col>2</ion-col>
    <ion-col>3</ion-col>
  </ion-row>
</ion-grid>

<ion-card *ngFor="let item of items;let o = index">
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <ion-card-header>
    <ion-card-title>{{o+1}}. {{item.name}}</ion-card-title>
    <ion-card-subtitle>{{item.category}}</ion-card-subtitle>
    <ion-card-subtitle>{{item.price}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>

<ion-card *ngFor="let cat of cats;let i = index">
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <ion-card-header>
    <ion-card-title>{{i+1}}. {{cat}}</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>



<h1>
  <ion-button (click)="toggleOn = !toggleOn">Toggle Greetings</ion-button>
</h1>
<div *ngIf="!toggleOn; else elseBlock">
<h2>Hello</h2>
<p>Good morning to you</p>
</div>
<ng-template #elseBlock>No greeting, Lagbaja nothing for you.</ng-template>
<hr>
<p>Today is Friday and this is a dummy text element to make you feel better</p>
<p>Understanding the ngIf directive with the else clause</p>