<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="dark" class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content [fullscreen]="true">
  <ion-grid class="ion-justify-content-center">
    <ion-row>
      <ion-col></ion-col><!--EMPTY-->
      <ion-col size="auto">     
        <ion-card id="logincard">
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              <img class="hithere" alt="ITEM" src="../../assets/logo/logo.png" style="width:30%;"/>
            </ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>

          <ion-row style="height: 2rem"></ion-row> <!--USED FOR SPACING-->




          <ion-button *ngIf="!user" (click)="ngOnInit()">🔑 Mit Google anmelden</ion-button>
          <ion-button *ngIf="user" color="danger" (click)="logout()">🚪 Logout</ion-button>






          </ion-card-content>
          <span class="sp sp-t"></span>
          <span class="sp sp-r"></span>
          <span class="sp sp-b"></span>
          <span class="sp sp-l"></span>
        </ion-card>
      </ion-col>
      <ion-col></ion-col><!--EMPTY-->
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of data">
        <ion-label>
          <h2>{{ item.id }}</h2>
          <p>{{ item.category }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
<!--<app-footer></app-footer>-->