<ion-header [translucent]="true">
  <ion-toolbar>
    <img alt="ITEM" src="../../assets/logo/m2logo.png" 
              height="50em" slot="start" />
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">Home </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">Account </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/shop']">Shop </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">Logout </ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>